{% extends 'base_freelancer.html' %}
{% block body %}

<style>
.edit {
    padding-left: 32px;
    margin-left: 20px;
    }
</style>
<div class="edit" >
    <h3><i><b>Projects of your domain up for bidding!</i></b></h3>
    <div>
      <div>
        <p><b>Project Name</b> : Jtayu</p>
        <p><b>Domain</b> : Mobile Application</p>
        <p><b>Project Description </b>: Social Media Monitoring App <br> <b>Cost</b> : 800-1000$</p><hr>
      </div>
    </div>
    <div>
      <div>
        <p><b>Project Name</b> : Kavach</p>
        <p><b>Domain </b> Mobile Application</p>
        <p><b>Project Description</b> : "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br> <b>Cost</b>  : 700-1500$</p><hr>
      </div>
    </div>
    <div>
      <div>
        <p><b>Project Name : Asbestos</b></p>
        <p>Domain : Web Application </p>
        <p>Project Description : Search Engine  <br> Cost : 500-1200$</p><hr>
      </div>
    </div>
    <div>
        <div>
          <p><b>Project Name : Asbestos</b></p>
          <p>Domain : Web Application </p>
          <p>Project Description : Search Engine  <br> Cost : 500-1200$</p><hr>
        </div>
    </div>
    <div>
        <div>
          <p><b>Project Name : Asbestos</b></p>
          <p>Domain : Web Application </p>
          <p>Project Description : Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br> Cost : 500-1200$</p><hr>
        </div>
    </div>
  </div>
  {% endblock %}