{% extends 'base_freelancer.html' %}
{% block body %}

<style>
.edit {
    padding-left: 32px;
    margin-left: 20px;
    }
</style>
<h3><i><b>Projects of your domain up for bidding!</i></b></h3>
{%for project in projects %}
<div class="edit" >
    <div>
      <div>
        <hr><p><b>Project Name</b> : <a href="/view_project_dev/{{dev_id}}&{{project.project_id}}/">{{project.title}}</a></p>
        <p><b>Domain</b> : {{project.domain}}</p>
        <p><b>Experience</b> : {{project.lvl_exp}}</p>
        <!-- <p><b>Project Description </b>: Social Media Monitoring App <br> -->
        <b>Cost</b> : {{project.price_range}}</p> 
      </div>
    </div>
  </div>
  {% endfor %}
  {% endblock %}